<section class="wrapper">
  <div class="side-nav">
    <ul>
      <li><a class="nav-links" [routerLink]="'/notification/notification-list'" routerLinkActive="active">Notification List</a></li>
      <li><a class="nav-links" [routerLink]="'/notification/ticket-list'" routerLinkActive="active">Ticket List</a></li>
      <li><a class="nav-links" [routerLink]="'/my-profile'" routerLinkActive="active">My profile</a></li>
    </ul>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</section>
